@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

.stars {
  color: rgb(255, 255, 255);
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: url("/minamorl.jpg");
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: calc(100% - 20px) 20%;
}
